/* body {
  background-color: antiquewhite;
}

h1 {
  width: 50%;
  margin: 0%;
  background-color: #0000ff;
  text-align: center;
  height: 50%;
}
p {
  width: 50%;
} */
html,
body {
  height: 100%;
  width: 100%;
}
.hey {
  background-color: aqua;
  width: 50%;
  height: 50%;
}
.hello {
  background-color: black;
  width: 50%;
  height: 50%;
}
.hi {
  background-color: palevioletred;
  width: 50%;
  height: 50%;
}
