h1 {
  text-align: center;
  background-color: blue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: rgb(218, 246, 246);
}
.form {
  color: burlywood;
  text-align: center;
  display: flex;
  justify-content: last baseline;
}
