* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.shape {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-weight: lighter;
}
#square:hover {
  background-color: red;
}
#circle:hover {
  background-color: green;
}
#diamond:hover {
  background-color: blue;
}

#circle {
  border-radius: 50%;
}

#diamond {
  margin-top: 20%;
  rotate: 45deg;
  height: 141px;
  width: 141px;
  translate: 50px;
}
#go {
  rotate: -45deg;
}
